apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer
  namespace: aurora-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customer
  template:
    metadata:
      labels:
        app: customer
    spec:
      containers:
        - name: customer
          image: nanachi1027/aurora-customer:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: customer-config
