apiVersion: v1
kind: Service
metadata:
  name: notification
  namespace: aurora-prod
spec:
  type: ClusterIP       
  ports:
    - name: http        
      port: 8082
      targetPort: 8082
      protocol: TCP
  selector:
    app: notification
