apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification
  namespace: aurora-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification
  template:
    metadata:
      labels:
        app: notification
    spec:
      containers:
        - name: notification
          image: nanachi1027/aurora-notification:latest
          ports:
            - containerPort: 8082
          envFrom:
            - configMapRef:
                name: notification-config
